{
  presets: [
    [
      '@babel/preset-env',
      {
        targets: {
          browsers: ['edge >= 15']
        },
        modules: false
      }
    ]
  ],
  plugins: [
    '@babel/plugin-syntax-dynamic-import'
  ],
}